.login-container {
  width: 440px;
  height: 360px;
  box-shadow: 0 0 50px rgb(0 0 0 / 10%);
  margin: auto;
}

.fail-msg {
  color: red;
  margin-top: -15px;
}

.register {
  margin-top: 20px;
}

.input-left{
  position: absolute;
  left: 20px;
}
